# Ignore all virtual environments
venv*/
env*/
.venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore large binaries
*.dll
*.lib

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files and temp data
*.log
*.tmp

/RAW/

/venv_chronos/
/venv_units/


Results/all_model_predictions_merged.csv

Results/RF_window5.pkl
Results/RF_window21.pkl
Results/RF_window252.pkl
Results/RF_window512.pkl

short-only_strategy_performance.png