# Ignore all virtual environments
venv*/
env*/
.venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore large binaries
*.dll
*.lib

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files and temp data
*.log
*.tmp

/RAW/

/venv_chronos/
/venv_units/